
var search_reault_box = $('.search_result_box');

// search_reault_box.html("");
<% if params[:page] == "1" %>
  search_reault_box.html("");
<% end %>

<% if @programs.exists? %>
  <% @programs.each do |program| %>
    var result = '<% if user_signed_in? %>\
                    <% if current_user.already_subscribed?(program) %>\
                      <div class="search_item container s_c_i_followed">\
                    <% else %>\
                      <div class="search_item container">\
                    <% end %>\
                  <% else %>\
                    <div class="search_item container">\
                  <% end %>\
                          <div class="search_pic">\
                            <%= image_tag(program.image_url, class: "search_img")%>\
                          </div>\
                          <div class="search_text">\
                              <div class="search_head">\
                                  <%= link_to(path_with_hash_tag(program_path(program))) do%>\
                                      <span class="search_title">\
                                        <%= render_program_subject(program) %>\
                                      </span>\
                                  <% end %>\
                              </div>\
                              <% if user_signed_in? %>\
                                <% if current_user.already_subscribed?(program) %>\
                                  <%= link_to(cancel_subscription_program_path(program), method: :post, remote: true, class: "subscribe_program_#{program.id}") do%>\
                                    <%= div_for(program, class: "s_follow  hover_opacity program_#{program.id}") do %>\
                                    <% end %>\
                                  <% end %>\
                                <% else %>\
                                  <%= link_to(subscribe_program_path(program), method: :post, remote: true, class: "subscribe_program_#{program.id}") do%>\
                                    <%= div_for(program, class: "s_follow  hover_opacity program_#{program.id}") do %>\
                                    <% end %>\
                                  <% end %>\
                                <% end %>\
                              <% end %>\
                              <div class="s_share hover_opacity" data-href="<%= path_with_hash_tag(program_path(program)) %>">\
                              </div>\
                              <p class="search_intro">\
                                <%= program.introduction %>\
                              </p>\
                          </div>\
                    </div>';

    search_reault_box.append(result);
  <% end %>

  var nameField = $('#search_form input[name="page"]');
  var currentValue = parseInt(nameField.val());
  nameField.val( currentValue + 1);

  var canSubmitField = $('#can_submit');
  var canSubmit = canSubmitField.val(1);

<% else %>
  <% if params[:page] == "1" %>
    var nothing = '<div class="search_item">\
                            <div class="search_text">\
                                <div class="search_head">\
                                    <p>沒有找到符合的項目</p>\
                                </div>\
                            </div>\
                      </div>';

    search_reault_box.append(nothing);
  <% else %>
    alert("已經沒有其他符合的項目");
  <% end %>
<% end %>




