<% content_for :fb_meta_tag do%>
  <meta property="og:title" content="<%= @program.subject %>" />
  <meta property="og:url" content="<%= share_program_url(@program) %>"/>
  <meta property="og:description" content= "<%= truncate(@program.introduction, length: 25) %>" />
  <meta property="og:image" content="<%= image_url(@program.image_url) %>" />
  <meta property="og:site_name" content="華人最大-廣播專屬樂聲平台">
  <meta property="og:type" content="website" /> 
  <meta name="author" content="<%= @program.try(:owner).try(:name) %>">
<% end %>

<h1> Loading.......</h1>

<!-- 
<h3><%#= @program.subject %></h3>
<h4><%#= @program.introduction %></h4>
<%#= image_tag(@program.image_url) %>
 -->


<script>
  window.location.replace('<%= url_with_hash_tag(program_path(@program)) %>');
</script>