
<div class="bg-tiff">
    <div class="relative p_g">

    
        <div class="absolute p_g_info">
            <div class="relative p_g_name"><%= render_program_subject(@program.subject) %></div>
            <div class="relative p_g_pic">
            	<%= image_tag(@program.image_url) %>
            	<!-- <img src="images/program/demo.jpg"> -->
            </div>
            
          	<% if user_signed_in? %>
							<% if current_user.already_subscribed?(@program)%>
								<div class="relative p_g_subscribe hover_opacity p_g_candisorder">
									<%= link_to(cancel_subscription_program_path(@program), method: :post, remote: true) do %>	
										<div class="absolute p_g_disorder">
		                	<%= image_tag('program/btn_unsubscribe.png') %> 取消訂閱
		                </div>
		              <% end %>
		              
		              <%= link_to(subscribe_program_path(@program), method: :post, remote: true) do %>
										<div class="absolute p_g_order">
	              			<%= image_tag('program/btn_subscribe.png') %> 訂閱節目
	              		</div>
									<% end %>
								</div>
							<% else %>

								<div class="relative p_g_subscribe hover_opacity p_g_canorder">
									<%= link_to(cancel_subscription_program_path(@program), method: :post, remote: true) do %>
											<div class="absolute p_g_disorder">
			                	<%= image_tag('program/btn_unsubscribe.png') %> 取消訂閱
			                </div>
			              <% end %>

										<%= link_to(subscribe_program_path(@program), method: :post, remote: true) do %>
											<div class="absolute p_g_order">
		              			<%= image_tag('program/btn_subscribe.png') %> 訂閱節目
		              		</div>
										<% end %>
									</div>
							<% end %>
						<%end%>
                   
            

            <p class="p_g_already"> <%= @program.subscriberz_count %>已訂閱</p>
            <div class="relative p_g_user">
            	<%= image_tag(@program.owner.try(:avatar_url)) %> 
            	<!-- <img src="images/program/program_user.png" />youlanda -->
            </div>
            <div class="relative p_g_user_name">
            <%= @program.owner.try(:name)%>
            </div>

            <div class="relative p_g_cate"> 
            <% @program.categories.each do |category| %>
							<%= category.title %> 
            <% end %>
            </div>
            
            <div class="relative p_g_describe"> <%= @program.introduction %> </div>
        </div>


        <ul class="relative p_g_content">
        	<% @episodes.each do |episode| %>
        		<div class="p_g_item">
                <div class="p_g_item_head">
                    <div class="p_g_item_name"> <%= render_episode_title(episode.title) %> </div>
                    <div class="p_g_date"> <%= render_format_time(episode.updated_at) %> </div>
                    <div class="p_g_more hover_opacity">
                    	<%= image_tag('program/p_g_more_on.png') %>
                    	<%= image_tag('program/p_g_more_off.png') %>
                        <!-- <img class="p_g_more_on" src="images/program/p_g_more_on.png">
                        <img class="p_g_more_off" src="images/program/p_g_more_off.png"> -->
                    </div>
                </div>
                <div class="p_g_item_info">
                    <p>
                        <%= render_episode_description(episode.description) %>
                    </p>

                    <% if user_signed_in? %>
                      <div class="p_g_tag"> 
                      	<% Tag.order(id: :asc).each do |tag| %>
                          <span class="p_g_tag_item hover_opacity tag">
  	                        
                            
     
                              <% if !current_user.has_voted?(tag, episode)%>
                                <div  id='<%= "episode_#{episode.id}_tag_#{tag.id}_container" %>'>
                                  <%= link_to(votes_path(episode, tag), method: :post, remote: true) do%>
                                    <input type="checkbox" id="<%= tag.id %>" class="p_g_tag_checkbox">
                                  <% end %>
                                </div>
                              <% else %>

                                  <div class="p_g_checked" id='<%= "episode_#{episode.id}_tag_#{tag.id}_container" %>'>
                                    <%= link_to(cancel_vote_path(episode, tag), method: :delete, remote: true) do %>
                                      <input type="checkbox" id="<%= tag.id %>" class="p_g_tag_checkbox" checked>
                                    <% end %>

                                  </div>
                              <% end %>
                           


  	                        <label for="<%= tag.id %>" class="p_g_lable_box ">
  	                        	<%= image_tag('program/tag_bg.png') %>
  	                        	<%= image_tag('program/tag_click.png', class: 'p_g_tag_click') %>
  	                        	<%= tag.title%>
  	                            <!-- <img src="images/program/tag_bg.png"/> -->
  	                            <!-- <img class="p_g_tag_click" src="images/program/tag_click.png">好放鬆 -->
  	                        </label for="male">
                          </span>
  											<% end %>   
                      </div>
                    <% end %>


										<div id='<%= "episode_#{episode.id}_reply_box" %>' class='p_g_reply_box'>
											<% episode.comments.each do |comment| %>
												<div class="p_g_reply_item">
                            <div class="p_g_reply_pic">
                            	<%= image_tag(comment.user.try(:avatar_url)) %>
                                <!-- <img src="images/program/demo.jpg"> -->
                            </div>
                            <div class="p_g_reply_content">
                             	<%= render_comment_content(comment.content) %>
                            </div>
                        </div>
											<% end %>
										</div>


                    <!-- <div class="p_g_reply_box">
                        <div class="p_g_reply_item">
                            <div class="p_g_reply_pic">
                                <img src="images/program/demo.jpg">
                            </div>
                            <div class="p_g_reply_content">
                                留言留言留言留言留言留言
                            </div>
                        </div>
                        
                    </div> -->

										<% if user_signed_in? %>

											<%= form_for(@comment, url: episode_comments_path(episode, @comment), remote: true) do |f|%>
		                    <div class="p_g_reply_item p_g_reply_item_type">
		                        <div class="p_g_reply_pic">
		                        	<%= image_tag(current_user.try(:avatar_url)) %>
		                            <!-- <img src="images/program/demo.jpg"> -->
		                        </div>
		                        <%= f.text_area(:content ,class: "p_g_reply_typecontent", rows: "2", placeholder: "留言......") %>
		                        <!-- <textarea class="p_g_reply_typecontent">留言......</textarea> -->
		                    </div>
		                    <%= f.submit("送出", class: "p_g_reply_submit hover_opacity") %>
		                    <!-- <div class="p_g_reply_submit hover_opacity">送出</div> -->
											<% end %>
	 
                    <% end %>
                </div>


                <div class="p_g_player_box">
                    <div class="playing_cube div_episode">
                        <!-- <div class='add_play_list'> -->
                            <li class="songPlay_btn li_episode" data-src="<%= episode.audio_url %>">
                            	<%= image_tag('program/p_g_start_icon.png') %>
                            	<!-- <img src="images/program/p_g_start_icon.png"> -->
                            </li>
                        <!-- </div> -->

                        <div class="songPause">
                        	<%= image_tag('program/p_g_pause_icon.png') %>
                        	<!-- <img src="images/program/p_g_pause_icon.png"> -->
                        </div>
                    </div>

                    <div class="p_progress">
                        <div data-attr="seekableTrack" class="seekableTrack"></div>
                        <div class="updateProgress hide"></div>
                    </div>
                    <div class="p_g_share hover_opacity">分享</div>
                    
                </div>
            </div>
        	<% end %>

        </ul>

				<%= will_paginate(@episodes, class: "absolute pagination") %>



    </div>
        <%= render(partial: "shared/footer") %>
</div>

		<%= javascript_include_tag 'pagination' %>



<!-- old code -->
<%# content_for :program_show_customize_jquery do%>
<%#= javascript_include_tag 'program_show' %>
<%# end %>

<!-- 
<div class="row">
<div class="col-md-3 img-box">
<%#= image_tag(@program.image.url(:medium))%>
</div>
<div class="col-md-9">

<%#= link_to("新增一集", new_program_episode_path(@program), :class=> 'btn btn-info btn-lg') if can? :create, @program%>
<%#= link_to("修改節目", edit_program_path(@program), :class=> 'btn btn-info btn-lg') if can? :update, @program%>
<%#= link_to("刪除節目", program_path(@program), :method=>:delete, :class=> 'btn btn-danger btn-lg') if can? :destroy, @program %>


<%# if user_signed_in? %>
<%# if  current_user.already_subscribed?(@program)%>
<%#= link_to("取消訂閱", cancel_subscription_program_path(@program), :class=>'btn btn-default btn-lg',:method=>:post, :role=>"button") %>
<%#else%>
<%#= link_to("訂閱", subscribe_program_path(@program), :method=>:post, :class=>'btn btn-primary btn-lg') %>
<%#end%>
<%#else %>
<%#= link_to("請先登入才可訂閱", "#", :class=>'btn btn-default btn-lg disabled', :role=>"button") %>
<%#end%>

<hr>
<%# @program.categories.each do |category| %>
<%#= content_tag(:span, category.title ,:class=>"label label-info") %>
<%#end%>
<h2><%#= @program.subject %></h2>
<h4><%#= simple_format(@program.introduction) %></h4>

</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 well">
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>標題</th>
			<th>描述</th>
			<th>內容</th>
			<%# if(current_user == @program.owner)%>
			<th>修改</th>
			<th>刪除</th>
			<th>標簽</th>
			<%#end%>
		</tr>
	</thead>
	
	<tbody>
		<%#if @program.episodes.present?%>
		<%#@program.episodes.order("id DESC").each_with_index do |episode, index|%>
		<%#if @episodes.present?%>
		<%# @episodes.order("id DESC").each_with_index do |episode, index|%>
		<tr>
			
			<td><%#= index %></td>
			<td><%#= episode.title %></td>
			<td><%#= episode.description %></td>
			<td><%#= audio_tag(episode.audio.url, :controls => true, :preload => "auto")%></td>
			<%# if(current_user == @program.owner)%>
			<td><%#= link_to('編輯', edit_program_episode_path(@program, episode), :class=>'btn btn-info btn-lg')%></td>
			<td><%#= link_to('刪除', program_episode_path(@program, episode), :method => :delete,:class=>'btn btn-danger btn-lg')%></td>
			<%# end %>
			<%# Tag.order("id ASC").each do |tag|%>
			<td><%#= link_to("#{tag.title}(#{tag.voted_episodes.where(id: episode.id).size})", vote_episode_path(episode, tag) , class: 'btn btn-primary', method: :post) %> </td>
			<%#end%>
		</tr>
		
		<%#end%>
		<%#end%>
	</tbody>
</table>
<div style="text-align: center;">
	<%#= will_paginate @episodes, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div> -->