    <div id="msg" class="absolute poz_center"></div>
    
    <% if user_signed_in?%>
    <div class="fixed full pop_box c_p_pop">
        <div class="absolute full pop_box_bg"></div>
        <div class="absolute c_p_pop_frame">

          <%= form_for(current_user, :url => user_registration_path, :html => { :method => :put , :multipart => true}) do |f| %>
            
            <div class="absolute c_p_item c_p_item_0">
              <%= f.password_field :current_password, class: "absolute c_p_input", :autofocus => true, placeholder: "old password" %>
            </div>
            <div class="absolute c_p_item c_p_item_1">
              <%= f.password_field :password, class: "absolute c_p_input", placeholder: "new password" %>
            </div>

            <div class="absolute c_p_item c_p_item_2">
              <%= f.password_field :password_confirmation, class: "absolute c_p_input", placeholder: "new password again" %>
            </div>

            <div class="absolute c_p_cancle hover_opacity">取消</div>
            <%= f.submit('確認變更', class: "absolute c_p_submit hover_opacity") %>
            <!-- <input type="submit" class="absolute c_p_submit hover_opacity" value="確認變更"> -->
            <div class="absolute pop_close hover_opacity"></div>
          <% end %>
        </div>
    </div>
    <% end %>


    <div class="program_brief_imformation">
        <div class="fixed full pop_box h_l_pop">
            <div class="absolute full pop_box_bg"></div>
            <div class="absolute h_l_pop_frame">
                <div class="absolute pop_close hover_opacity"></div>
                <div class="relative float_left h_l_pop_a">
                    <div class="relative h_l_pop_pic">
                        <%= image_tag('pop_box/demo.jpg') %>
                        <!-- <img src="images/pop_box/demo.jpg"> -->
                    </div>
                    <p class="text_align_left">主持人youlanda</p>
                    <p class="text_align_left">分類名稱</p>
                    <p class="text_align_left">分類名稱</p>
                    <p class="text_align_left">分類名稱</p>
                   
                </div>
                <div class="relative float_left h_l_pop_b">
                    <p class="text_align_left h_l_episode_name">節目名稱最多十個字呦</p>
                    <p class="text_align_left h_l_episode_intro">節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹節目介紹</p>
                    <div class="h_l_episode_s">
                        <div class="h_l_episode_s_item">
                            <div class="h_l_episode_s_title">集名稱 episode title</div>
                            <div class="h_l_episode_s_date">2014.08.25</div>
                        </div>
                         <div class="h_l_episode_s_item">
                            <div class="h_l_episode_s_title">集名稱 episode title</div>
                            <div class="h_l_episode_s_date">2014.08.25</div>
                        </div>
                         <div class="h_l_episode_s_item">
                            <div class="h_l_episode_s_title">集名稱 episode title</div>
                            <div class="h_l_episode_s_date">2014.08.25</div>
                        </div>
                         <div class="h_l_episode_s_item">
                            <div class="h_l_episode_s_title">集名稱 episode title</div>
                            <div class="h_l_episode_s_date">2014.08.25</div>
                        </div>

                       
                    </div>
                </div>
                <a href="#program">
                    <div class="h_l_pop_more hover_opacity"></div>
                </a>
            </div>
        </div>
    </div>