
var episodes_container = $('.episodes_container');
// console.log(episodes_container.get(0));

<% if @customize_episodes.any? %>
  <% @customize_episodes.each do |episode| %>

    var customize_episode = '<% if user_signed_in? %>\
                <% if current_user.already_subscribed?(episode) %>\
                  <div class="h_l_item  to_f div_episode container s_c_i_followed">\
                <% else %>\
                 <div class="h_l_item  to_f div_episode container">\
                <% end %>\
              <% else %>\
                <div class="h_l_item  to_f div_episode container">\
              <% end %>\
                  <div class="h_l_item_pic">\
                      <%= image_tag(episode.program.image_url) %>\
                  </div>\
                  <div class="filter"></div>\
                  <% if user_signed_in? %>\
                    <% if current_user.already_subscribed?(episode) %>\
                      <%= link_to(cancel_subscription_program_path(episode.program), method: :post, remote: true, class: "subscribe_program_#{episode.program.id}") do%>\
                        <%= div_for(episode.program, class: "h_l_follow hover_opacity program_#{episode.program.id}") do %>\
                        <% end %>\
                      <% end %>\
                    <% else %>\
                      <%= link_to(subscribe_program_path(episode.program), method: :post, remote: true, class: "subscribe_program_#{episode.program.id}") do%>\
                        <%= div_for(episode.program, class: "h_l_follow hover_opacity program_#{episode.program.id}") do %>\
                        <% end %>\
                      <% end %>\
                    <% end %>\
                  <% end %>\
                  <div class="h_l_share" data-href="<%= path_with_hash_tag(program_path(episode.program)) %>"></div>\
                  <li class="state_0 h_l_item_btn li_episode" data-src="<%= episode.audio_url %>" data-attr="playPauseAudio" >\
                    <a> <%= render_episode_title(episode) %> </a>\
                  </li>\
                  <p><%= render_episode_title(episode) %></p>\
                  <%= link_to(brief_information_program_path(episode.program), remote: true) do %>\
                    <div class="h_l_item_name"><%= truncate(episode.program.subject, length: 9) %></div>\
                  <% end %>\
              </div>'; 

    episodes_container.append(customize_episode);

  <% end %>
  var canSubmitField = $('#can_submit');
  var canSubmit = canSubmitField.val(1);

  $('.pagination_link').attr("href", "<%= more_customize_episodes_path(page: params[:page].to_i + 1, per_page: 20) %>");
  
  <%# binding.pry %>
<% else %>
   alert("已經沒有其他的推薦");
<% end %>
