<div class="bg-unlogin">
    <div class="relative unlogin">
        <div class="u_l_frame poz_center">
            <p class="u_l_title">華人最大 廣播專屬樂聲平台</p>
            <%= link_to(path_with_hash_tag(category_path(Category.first))) do %>
                <div class="absolute u_l_btn u_l_btn_0">
                    <div class="full">
                        <%= image_tag('unlogged/btn_choice.png') %>
                        <!-- <img src="images/unlogged/btn_choice.png"> -->
                    </div>
                    <div class="absolute u_l_btn_in">
                        <div class="absolute u_l_main_word">
                            挑選音樂
                        </div>
                        <div class="absolute u_l_sub_word">
                            開始您的音樂之旅
                        </div>
                    </div>
                </div>
            <% end %>

            <%= link_to(path_with_hash_tag(new_user_registration_path)) do %>
                <div class="absolute u_l_btn u_l_btn_1">
                    <div class="full">
                        <%= image_tag('unlogged/btn_upload.png') %>
                        <!-- <img src="images/unlogged/btn_upload.png"> -->
                    </div>
                    <div class="absolute u_l_btn_in">
                        <div class="absolute u_l_main_word">
                            上傳節目
                        </div>
                        <div class="absolute u_l_sub_word">
                            創建個人廣播頻道
                        </div>
                    </div>
                </div>
            <% end %>
            <a href="#login">
                <div class="absolute u_l_btn u_l_btn_2">
                    <div class="full">
                        <%= image_tag('unlogged/btn_search.png') %>
                        <!-- <img src="images/unlogged/btn_search.png"> -->
                    </div>
                    <div class="absolute u_l_btn_learnmore">
                        <div class="absolute u_l_main_word">
                            瞭解更多
                        </div>
                        <div class="absolute u_l_sub_word">
                            關於八寶
                        </div>
                    </div>
                </div>
            </a>
        </div>


        
        <!-- <div class="footer">
            <span>
                <a href="">法律條款</a>
            </span>
            <span>
                <a href="">聯絡我們</a>
            </span>
            <span>
                <a href="">加入我們</a>
            </span>
            <span>
                <a href="">廣告合作</a>
            </span>
        </div> -->
    </div>
<%= render(partial: "shared/footer")%>
</div>







