


<div class="bg-purple">
    <div class="relative home_logged">
        <div class="relative h_l_header">
          <%= link_to(path_with_hash_tag(category_path(Category.first))) do%>
            <div class="absolute selected_btn hover_opacity">精選節目</div>
          <% end %>
        </div>

 

        <ul class="relative h_l_content episodes_container">
            
            <% @customize_episodes.each do |episode|%>
              <% if user_signed_in? %>
                <% if current_user.already_subscribed?(episode) %>
                  <div class="h_l_item  to_f div_episode container s_c_i_followed">
                <% else %>
                  <div class="h_l_item  to_f div_episode container">
                <% end %>
              <% else %>
                <div class="h_l_item  to_f div_episode container">
              <% end %>
              <!-- <div class="h_l_item state_0 to_f div_episode container"> -->

                  <div class="h_l_item_pic">
                      <%= image_tag(episode.program.image_url) %>
                  </div>
                  <div class="filter"></div>
                    
                  <!-- <div class='h_l_follow'></div>          -->
                  <% if user_signed_in? %>
                    <% if current_user.already_subscribed?(episode) %>
               
                      <%= link_to(cancel_subscription_program_path(episode.program), method: :post, remote: true, class: "subscribe_program_#{episode.program.id}") do%>
                    
                        <%= div_for(episode.program, class: "h_l_follow hover_opacity program_#{episode.program.id}") do %>
                        <% end %>
                        <!-- <div class="s_c_i_follow hover_opacity"></div> -->
                      <% end %>
                    <% else %>
                      <%= link_to(subscribe_program_path(episode.program), method: :post, remote: true, class: "subscribe_program_#{episode.program.id}") do%>
                        <!-- <div class="s_c_i_follow hover_opacity"></div> -->
                        <%= div_for(episode.program, class: "h_l_follow hover_opacity program_#{episode.program.id}") do %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  
                  <div class="h_l_share" data-href="<%= path_with_hash_tag(program_path(episode.program)) %>"></div>
                  <!-- <div class="add_play_list"> -->
                  <li class="state_0 h_l_item_btn li_episode" data-src="<%= episode.audio_url %>" data-attr="playPauseAudio" >
                    <!--9/23 modify-start -->
                    <a> <%= render_episode_title(episode) %> </a>
                  <!--9/23 modify-end -->  
                  </li>
                  <!-- </div> -->
                  <p><%= render_episode_title(episode) %></p>
                  <%= link_to(brief_information_program_path(episode.program), remote: true) do %>
                  <div class="h_l_item_name"><%= truncate(episode.program.subject, length: 9) %></div>
                  <% end %>
              </div> 
            <% end %> 
          

        </ul>


            

        <%= render(partial: "shared/footer", locals: { footer_class: "relative footer" })%>
    </div>
</div>


<div class="waterfall_pagination hide">
  <%= hidden_field_tag(:can_submit, 1) %>
  <%= link_to("fuck you", more_customize_episodes_path(page: 2, per_page: 20), method: :post, remote: true, class: "pagination_link") %>
</div>



<script>

  jQuery(function() {

    // var searchForm = $('#search_form');
    // var submitButton = searchForm.find('input[type="submit"]');
    // submitButton.on("click", function() {
    //   var nameField = searchForm.find('input[name="page"]');
    //   nameField.val(1);
    // });

    // if ($('.pagination').length) {
    $(window).scroll(function() {

      
      var canSubmitField = $('#can_submit');
      var canSubmit = canSubmitField.val();

      // var url;
      // url = $('.pagination .next_page').attr('href');
      if (canSubmit && $(window).scrollTop() + $(window).height() + 1 > $(document).height()) {
        alert("success");
        $(".pagination_link").get(0).click();;
        // canSubmitField.val(0);
      }
    });
    return $(window).scroll();
    // }
  });

</script>