    <% content_for :fb_meta_tag do%>
      <meta property="og:url" content="<%= root_url %>"/>
      <meta property="og:title" content= "華人最大 廣播專屬樂聲平台" />
      <meta property="og:description" content= "開始您的音樂之旅" />
      <meta property="og:image" content= "<%= image_url('logo_new.png') %>" />
      <meta name="author" content="Ryan Yang">
    <% end %>

    <div style= "width:100%;margin:0px auto 0px auto">
        <div class="relative main_frame">
            <%#= render partial: 'unlogin_frame'%>
        </div>
    </div>
    
    

    <%= render partial: 'shared/loading' %>

    <%= render partial: 'shared/header' %>

    <%= render partial: 'shared/components' %>


    <%= javascript_include_tag 'application'%>