<div class="bg-red">
    <div class="relative search">
        <div class="relative search_up_frame">

        <%= hidden_field_tag(:can_submit, 1) %>

        <%= search_form_for(@q ,:url=> search_programs_path, :class=>"navbar-form navbar-left", :role=>"search", method: :post, remote: true, id: "search_form") do |f| %>

			  	<%= f.search_field :subject_or_introduction_or_episodes_title_or_episodes_description_cont, :class=>"absolute search_bar", :id=>"navbarInput-01", :type=>"search", :placeholder=>"Search"%>

          <%= hidden_field_tag(:page, 1) %>

          <%= hidden_field_tag(:per_page, 20) %>
		         	
		      <%= submit_tag("", :class => 'absolute search_btn hover_opacity', style: "z-index: 20;")%>
			 
  			<%end%>
            <!-- <input class="absolute search_bar"/> -->
            <div class="absolute search_btn hover_opacity"></div>
        </div>
        <div class="relative search_content">
            <div class="relative search_box">
              <div class="search_result_box">

  							<!-- <%# @programs.each do |program| %>
  								<div class="search_item">
  	                    <div class="search_pic">
  	                    	<%#= image_tag(program.image_url) %>
  	                        
  	                    </div>
  	                    <div class="search_text">
  	                        <div class="search_head">
  	                        		<%#= link_to(path_with_hash_tag(program_path(program))) do%>
  	                           
  	                                <span class="search_title">
  	                                	<%#= render_program_subject(program.subject) %>
  	                                </span>
  	                       
  	                            <%# end %>
  	                        </div>
  	                         <div class="s_follow hover_opacity">
  	                        </div>
  	                        <div class="s_share hover_opacity">
  	                        </div>
  	                        <p class="search_intro">
  	                        	<%#= program.introduction %>
  	                        </p>
  	                    </div>
                  </div>
  							<%# end %>-->
              </div> 


                
						<%#= will_paginate(@programs, class: " search_pagination") %>
            </div>
        </div>


    </div>
<%= render(partial: 'shared/footer') %>
</div>    




<script>

  jQuery(function() {

    var searchForm = $('#search_form');
    var submitButton = searchForm.find('input[type="submit"]');
    submitButton.on("click", function() {
      var nameField = searchForm.find('input[name="page"]');
      nameField.val(1);
    });

    // if ($('.pagination').length) {
    $(window).scroll(function() {


      var canSubmitField = $('#can_submit');
      var canSubmit = canSubmitField.val();
      // var url;
      // url = $('.pagination .next_page').attr('href');
      if (canSubmit && $(window).scrollTop() + $(window).height() == $(document).height()) {

        
        // $('.pagination').text("Fetching more products...");
        $('#search_form').submit(function(e){
          e.preventDefault(); //STOP default action
          e.stopImmediatePropagation();

          var postData = $(this).serializeArray();
          var formURL = $(this).attr("action");
          $.ajax(
          {
              url : formURL,
              type: "POST",
              data : postData,
              success:function(data, textStatus, jqXHR) 
              {
                  //data: return data from server
              },
              error: function(jqXHR, textStatus, errorThrown) 
              {
                  //if fails      
              }
          });
          // e.preventDefault(); //STOP default action
          // e.unbind(); //unbind. to stop multiple form submit.

          // Change flag to false
          canSubmitField.val(0);
          return false
        });
     
        return $('#search_form').submit();
      }
    });
    return $(window).scroll();
    // }
  });



</script>






<%#= javascript_include_tag 'pagination' %>

<!-- 
<div class="row">

  <h2> 搜尋字串:  <%#= params[:q]["subject_or_introduction_or_episodes_title_or_episodes_description_cont"] %></h2>
  <hr>


<div class="row">

			 <%# @programs.each do |program| %>
			 <div class="col-sm-3 col-md-3">

			    <div class="panel panel-default">
			      <div class="img-box">
			      	<%#= link_to image_tag(program.image.url(:medium) , :class=>"img-rounded"), program_path(program) %>
			    	</div>

			      <div class="panel-body img-avatar">
			      	<%#= image_tag(program.owner.avatar.url(:small), :class=>"img-rounded")%>
			        <span><%#= program.subject %></span>
			    	</div>
			    </div>
			 </div>
			 <%# end %>

</div>

</div> -->