<!DOCTYPE html>
<html>
<head>
  <title>Babbo</title>
  
  <meta content="華人最大 廣播專屬樂聲平台" name="description" />
  <meta content="華人最大 廣播專屬樂聲平台 開始您的音樂之旅" name="keywords" />
  <meta name="author" content="Ryan Yang">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:url" content="<%= root_url %>"/>
  <meta property="og:title" content= "華人最大 廣播專屬樂聲平台" />
  <meta property="og:description" content= "開始您的音樂之旅" />
  <meta property="og:image" content= "<%= image_url('logo_new.png') %>" />
</head>
<body>


<%#= render 'shared/header' %>
<!-- <div class="container"> -->
  <%#flash.each do |name , msg|%>
    <%#= content_tag(:div , msg,class: "alert alert-info") %>
  <%#end%>
  <%= yield %>
<!-- </div> -->


<%#= javascript_include_tag 'application'%>
<%= yield :program_show_customize_jquery%>

</body>
</html>
