<!DOCTYPE html>
<html>
<head>
  <title>Walawala</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'shared/header' %>
<div class="container">
  <%flash.each do |name , msg|%>
    <%= content_tag(:div , msg,class: "alert alert-info") %>
  <%end%>
  <%= yield %>
</div>


<%= javascript_include_tag 'application'%>
<%= yield :program_show_customize_jquery%>

</body>
</html>
